OPEN_AI_API_KEY=sk-xxx
MODEL_BASE_URL=https://xxxx.com/v1
AI_MODEL_NAME=model_name
MAX_ITERATIONS=30
DB_PATH=state.db
HERMES_HOME=./.hermes
SERP_API_KEY=api_key # https://github.com/serpapi/serpapi-javascript
